version: '3.8'

services:
  api:
    build:
      context: apps/api
      dockerfile: Dockerfile.dev
    container_name: pengi-api
    ports:
      - "8080:8080"
    environment:
      - GIN_MODE=debug
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ./apps/api/.env

  db:
    image: postgres:15-alpine
    container_name: pengi-db-dev
    restart: on-failure
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pengi_gentoo
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
